.wd-padding-item {
    padding-right: 10%;
}
.wd-padding-button-top {
    padding-top: 20px;
}
.wd-padding-bottom {
    padding-bottom: 10%;
}
.wd-border-radius {
    border-radius: 25px;
}
.wd-background-white {
    background-color: white;
}
.wd-container-padding-top {
    padding-top: 1%;
}
.wd-font-13 {
    font-size: 13px;
}
.wd-font-bold {
    font-weight: bold;
}
.wd-text-white {
    color: white;
}
.wd-search-box-dark-mode {
    border-radius: 18px;
    height: 35px;
    width: 100%;
    border-width: 0px;
    color: darkgrey;
    background-color: white;
}
.wd-center-icons i {
    position: absolute;
}
.wd-icon {
    padding: 10px;
    min-width: 40px;
}
.wd-search-box {
    height: 35px;
    width: 100%;
    border-width: 1px;
    border-radius: 18px;
    color: darkgrey;
}
.wd-settings-icon-dark-mode {
    color: dodgerblue;
    padding-right: 0.5%;
}
.wd-input-field {
    padding-left: 10%;
    text-align: left;
}
.wd-icon-dark-model {
    padding-left: 0.75%;
    padding-top: 0.50%;
    color: darkgrey;
}
