body {
    background-color: black;
    color: white;
}
.left-offset {
    offset-before: 16px;
}
.wd-input-field-search {
    background-color: darkgrey;
    color: white;
    border-radius: 50px;
    width: 100%;
}
.wd-settings-link {

}

.wd-tab-view {
    color: rgb(110,118,125);
    display: flex;
    font-size: 15px;
}

.wd-tab-view > a {
    padding: 16px;
}

.wd-tab-view > a.selected {
    color: rgb(29,161,242);
    border-bottom: 5px solid rgb(29,161,242);
}

.wd-topic {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-number-of-tuits {
    color: rgb(110, 118, 125);
    font-size: 13px;
}
.wd-title {
    color: white;
    padding-top: 12px;
    padding-left: 16px;
    font-size: 20px;
    width: 100%;
}
.wd-handle {
    color: lightgray;
    font-size: 13px;
    padding-left: 16px;
    padding-bottom: 12px;
    border-bottom: lightgray;
    border-bottom-width: 1px;
}
.wd-author {
    color: white;
    font-size: 13px;
}
.wd-author-post-img {
    width: 100px;
    height: 100px;
    padding-right: 16px;
    border-radius: 25px;

}
.wd-post-flex {
    display: flex;
}
.wd-line-break {
    color: darkgrey;
}
.wd-bookmarks-title {
    border-color: lightgray;
}
.wd-avatar-img {
    padding-left: 16px;
    padding-top: 12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.wd-tab-icons {
    display: flex;
}
.wd-bookmarks-header {
    display: flex;
}
.wd-div-bookmarks-content {
    offset-before: 12px;
    margin-left: 80px;
}
.wd-bookmarks-name {
    font-size: 15px;
    padding-left: 5px;
}
.wd-bookmarks-handle {
    color: lightgray;
    font-size: 15px;
    padding-left: 5px;
}
.wd-bookmarks-date {
    font-size: 15px;
    color: lightgray;
    padding-left: 5px;
}
.wd-bookmarks-desc {
    max-width: 506px;
    font-size: 15px;
    padding-bottom: 16px;
    padding-right: 16px;
}
.wd-icon-item {
    width: 15px;
    height: 15px;
}
.wd-bookmarks-item {
    display: flex;
}
.wd-random-image {
    width: 504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.wd-text-title {
    padding: 12px;
    color: white;
    font-size: 15px;
}
.wd-text-content {
    font-size: 15px;
    color: lightgray;
    padding: 12px;
}
.wd-text-below-img {
    border-bottom: lightgray;
    border-bottom-width: 1px;
}
.wd-tab-icons-inner {
    display: flex;
}